force-app/main/flows/GNX_GenerateRFListeView.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateMultipleTaxReceiptEntreprise</name>
        <label>CreateMultipleTaxReceiptEntreprise</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>gnx__GonexaMultipleTaxReceiptInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>configurationId</name>
            <value>
                <elementReference>GetConfigurationEntreprise.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CreateMultipleTaxReceiptParticulier</name>
        <label>CreateMultipleTaxReceiptParticulier</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>gnx__GonexaMultipleTaxReceiptInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>configurationId</name>
            <value>
                <elementReference>GetConfigurationParticulier.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>DonEntreprise</name>
        <choiceText>Dons Entreprise</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dons Entreprise</stringValue>
        </value>
    </choices>
    <choices>
        <name>DonParticulier</name>
        <choiceText>Dons Particulier</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dons Particulier</stringValue>
        </value>
    </choices>
    <decisions>
        <name>TypeDeDon</name>
        <label>TypeDeDon</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Screen2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Don_Particulier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoixConfiguration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DonParticulier</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetConfigurationParticulier</targetReference>
            </connector>
            <label>Don Particulier</label>
        </rules>
        <rules>
            <name>Don_Entreprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoixConfiguration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DonEntreprise</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetConfigurationEntreprise</targetReference>
            </connector>
            <label>Don Entreprise</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GNX_Générer massivement vos RF depuis une liste de vue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GNX_Générer massivement vos RF depuis une liste de vue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetConfigurationEntreprise</name>
        <label>GetConfigurationEntreprise</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateMultipleTaxReceiptEntreprise</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Entreprise</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gnx__Legal_entity_configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetConfigurationParticulier</name>
        <label>GetConfigurationParticulier</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateMultipleTaxReceiptParticulier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Particulier</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gnx__Legal_entity_configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TypeDeDon</targetReference>
        </connector>
        <fields>
            <name>Text1</name>
            <fieldText>&lt;p&gt;Veuillez Selectionner le type de don de l&apos;ensemble de don Selectionnés&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChoixConfiguration</name>
            <choiceReferences>DonEntreprise</choiceReferences>
            <choiceReferences>DonParticulier</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choix Configuration</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gnx__Tax_receipt__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>gnx__Tax_receipt__c</objectType>
    </variables>
</Flow>
