force-app/main/flows/Gnx_ShowRecordOnRF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>GetObject</name>
        <label>Obtenir l&apos;objet principal</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>IsanOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.gnx__Context_object_API_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityContext</targetReference>
            </connector>
            <label>Opportunité</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Gnx_Rendre disponible le contexte sur votre RF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GNX_Rendre disponible le contexte sur votre RF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>OpportunityContext</name>
        <label>Afficher le reçu sur une opportunité</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.gnx__Context_id__c</elementReference>
            </value>
        </inputAssignments>
        <object>gnx__Tax_receipt__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetObject</targetReference>
        </connector>
        <object>gnx__Tax_receipt__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
