force-app/main/flows/GNX_Send_TR_with_Send_method.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendRFbyEmail</name>
        <label>Envoyer le reçu par email</label>
        <locationX>143</locationX>
        <locationY>708</locationY>
        <actionName>gnx__EmailsInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>GeRF.Opportunity__r.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contentDocumentId</name>
            <value>
                <elementReference>$Record.gnx__generated_document_id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedToId</name>
            <value>
                <elementReference>GeRF.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>00X6t000000uiF3EAI</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>MainObjectDecision</name>
        <label>Verifier l&apos;Objet Reçu fiscal</label>
        <locationX>473</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>IsTaxReceipt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDocumentTemplateMainObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GeRF</targetReference>
            </connector>
            <label>IsTaxReceipt</label>
        </rules>
    </decisions>
    <decisions>
        <name>SendEmailOrPoSR</name>
        <label>Vérifier la procédure</label>
        <locationX>275</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GeRF.Opportunity__r.npsp__Primary_Contact__r.TRSendingMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Par email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendRFbyEmail</targetReference>
            </connector>
            <label>Email?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GNX_Envoyer un RF selon la méthode d&apos;envoi choisie {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GNX_Envoyer un RF selon la méthode d&apos;envoi choisie</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GeRF</name>
        <label>Obtenir le RF</label>
        <locationX>275</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendEmailOrPoSR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.gnx__Generated_record_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gnx__Tax_receipt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDocumentTemplateMainObject</name>
        <label>GetDocumentTemplateMainObject</label>
        <locationX>473</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MainObjectDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>gnx__Document_template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.gnx__Document_template__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>gnx__Object_API_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>gnx__Tax_receipt__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>gnx__parent_object__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gnx__Document_template_object__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>gnx__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SUCCESS</stringValue>
            </value>
        </filters>
        <object>gnx__Document_generation_log__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>GetDocumentTemplateMainObject</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
